:root {
    --text-color: #2f3547;
    --link-color: #B3978E;
    --background-color: #f5f4ef;
    --skills-background-color: #A5B5D5;
    --projects-background-color: #f1f0f0;
    --projects-background-outline: #cccbca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0px 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0px 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* Section 1: About Me */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin: 50px 0px;
    gap: 40px;
    margin-bottom: 100px;
}

.section-1 .text {
    flex: 5;
}

.section-1 .text h2 {
    font-size: 45px;
}

.section-1 .text .links {
    margin-top: 25px;
}

.section-1 .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.section-1 .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.section-1 .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.section-1 .headshot img {
    width: 300px;
    border-radius: 50%;

}

/* Section-2: Skills */
.section-2 {
    padding: 0px 50px;
    margin-bottom: 100px;
}

.section-2 h2 {
    text-align: center;
    font-size: 35;
}

.section-2 .text {
    text-align: center;
    margin-bottom: 20px;
}

.section-2 .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-2 .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--skills-background-color);

    width: 175px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px, solid, var(--text-color);
    border-radius: 5px;
}

.section-2 .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.section-2 .cells .cell span {
    font-size: 14px;
    color: var(--text-color);
}

/* Section 3: Projects */
.section-3 {
    padding: 0px 50px;
    margin-bottom: 100px;
}

.section-3 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section-3 .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.section-3 .cells .button {
    width: 250px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--projects-background-color);
    /* justify-content: flex-end; */
    border-radius: 10%;
    border: 1px solid var(--projects-background-outline);
    margin-bottom: 30px;
}

.section-3 .cells .button h3 {
    font-family: 'Merriweather', sans-serif;
    font-size: 18px;
}

.section-3 .cells .button span{
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
    background-color: var(--projects-background-color);

}

.section-3 .cells .button .container { 
    width: 200px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    /* object-fit: cover; */
}

.section-3 .cells .button .container img {
    justify-content: center;
    object-fit: contain;
    height: 100%;
    width: 100%;
    /* margin-top: 30px;
    margin-bottom: 10px;
    width:200px;
    height: 200px; */
    border-radius: 10%;
}

/* .section-3 .cells .btn2 {
    width: 250px;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--projects-background-color);
    border-radius: 10%;
    border: 1px solid var(--projects-background-outline);
    margin-bottom: 20px;
}

.section-3 .cells .btn2 span{
    background-color: var(--skills-background-color);

}

.section-3 .cells .btn3 {
    width: 250px;
    height: 300px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--projects-background-color);
    border-radius: 10%;
    border: 1px solid var(--projects-background-outline);
    margin-bottom: 20px;
}

.section-3 .cells .btn3 span{
    background-color: var(--skills-background-color);

} */

.section-3 .cells .button:hover {
    filter: brightness(0.9);
}

/* .section-3 .cells .btn2:hover {
    filter: brightness(0.9);
}

.section-3 .cells .btn3:hover {
    filter: brightness(0.9);
} */

/* Section-4: Contact */
.section-4 {
    padding: 0px 50px;
    margin-bottom: 100px;
}

.section-4 h2 {
    font-size: 35px;
}

.section-4 h3 {
    margin-top: 20px;
}

.section-4 .group {
    display: flex;
    gap: 50px;
}

.section-4 .group .text {
    margin-top: 20px;
    flex: 3;
}

.section-4 .group form {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.section-4 .group form input,
.section-4 .group form textarea {
    font-family: 'Merriweather', sans-serif;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    padding:10px;
    margin-bottom: 15px;
    outline:none;
    resize:none;
}

.section-4 .group form button {
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
    height: 50px;
    cursor:pointer;
    border-radius: 5px;
    background-color: var(--link-color);
}

.section-4 .group form button:hover {
    filter: brightness(0.9);
}

@media (max-width: 850) {
    /* Section-1 */
    .section-1 .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    /* Section-1 */
    .section-1 {
        flex-direction: column-reverse;
    }

    .section-1 .headshot img {
        width: 250px;
    }

    /* Section-4 */
    .section-4 .group {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    /* Navbar */
    nav {
        padding: 0px 20px
    }

    nav .right a {
        font-size: 22px;  
    }

    nav .right a span {
        display: none;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }

    /* Section-1 */
    .section-1 {
        padding: 0px 20px;
    }

    .section-1 .text h2{
        font-size: 30px;
    }

    /* Section-2 */
    .section-2 {
        padding: 0px 20px;
    }

    .section-2 .cells .cell span {
        font-size: 16px;
    }

    /* Section-3 */
    .section-3 {
        padding: 0px 20px;
    }

    .section-3 .text {
        font-size: 16px;
    }

    /* Section-4 */
    .section-4 {
        padding: 0px 20px;
    }
}